@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --header-height: 44px;
    --footer-height: 116px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Fira Code, monospace;
}

@layer base {
  a {
    @apply text-white hover:font-bold;
  }
}

/* In your global CSS file */
::-webkit-scrollbar {
  width: 8px;
  /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  /* Scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #555;
  /* Scrollbar thumb */
  border-radius: 6px;
  /* Border radius */
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
  /* Hover effect */
}