@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --header-height: 48px;
    --footer-height: 116px;

  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Fira Code, monospace;
}

@layer base {
  a {
    @apply text-white hover:font-bold;
  }
}


::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}